<div class="cards-container {% if title_and_description is not empty %}py-12{% endif %}">
        <div class="cards-header {% if title_and_description is not empty %}mb-8 mt-6{% endif %}">
            <div class="cards-title ">{{ title_and_description|raw }}</div>
        </div>
    <div class="cards-grid" id="cards-grid">
        {% for post in data %}
            <div class="card-item {% if (enable_load_more and loop.index > item_number) or (not enable_load_more and redirect_link is not empty and loop.index > item_number) %}hidden{% endif %}">
                <div class="relative">
                    <img src="{{ post.thumbnail }}" alt="{{ post.title }}" class="w-full h-60 object-cover rounded-t-lg">
                </div>
                <div class="p-6">
                    <h2>{{ post.title }}</h2>
                    <p>{{ post.description }}</p>
                    <div class="see-more-button-container">
                        <a href="{{ post.link }}" class="flex items-center justify-center px-3 py-4 bg-black text-white rounded-full text-base hover:bg-gray-800 w-40">
                            Read More
                        </a>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>

    {% if enable_load_more %}
        <div class="load-more-button-container flex justify-center p-4">
            <button id="load-more-button" class="load-all-cards">
                Load More
            </button>
        </div>

    {%else%}
        {% if is_front_page() %}
            <div class="browse-all-button-container flex justify-center p-4 {}">
                <a href="{{ redirect_link }}" class="browse-all-cards">
                    Browse All
                </a>
            </div>
        {% endif %}
     {% endif %}
</div>
