<section id="faq-module">
    <div class="faq-header">
        <div class="faq-title">{{ data['title_and_description']|raw }}</div>
    </div>
    <div class="faq-content">
        {% if data.faq is iterable %}
            {% for i, item in data.faq %}
            <div class="faq-item" x-data="{ open: false }">
                <button type="button" id="question{{ i+1 }}" class="faq-question" @click="open = ! open">
                    <span>{{ item.question }}</span>
                    <svg id="arrow{{ i+1 }}" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor"
                         :class="{ 'transform rotate-180': open }" class="faq-icon">
                        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M19 9l-7 7-7-7"></path>
                    </svg>
                </button>
                <div id="answer{{ i+1 }}" class="faq-answer" x-show="open" x-transition:enter.duration.500ms x-transition:leave.duration.400ms>
                    <hr>
                    <p>{{ item.answer|raw }}</p>
                </div>
            </div>
            {% endfor %}
        {% else %}
            <p>No FAQ items found.</p>
        {% endif %}
    </div>
    <p class="faq-footer">
        Still have questions?
        <a href="mailto:{{ data['e-mail'] }}">Contact our support</a>
    </p>
</section>