<div class="how-it-works-module">
    <div class="module-header">
        <div class="module-title">{{ data.title|raw }}</div>
      
        <div class="">
            <span class="block"></span>
        </div>
    </div>
    <div class="module-steps">
        {% for step in data.steps %}
            <div class="step">
                {% if step.image %}
                <div class="step-icon">
                    <img src="{{ step.image.url }}" alt="{{ step.image.alt }}" class="step-image">
                </div>    
                {% endif %}
                <div class="step-content">
                    <h3 class="step-title" >{{ step.title }}</h3>
                    <div class="step-description">{{ step.description|raw }}</div>
                </div>
            </div>
        {% endfor %}
    </div>
</div>

<style>
.how-it-works-module {
    background-color: #000; /* black */
    padding: 3rem 0;
    text-align: center;
    color: #fff; /* white */
}

.module-header {
    margin-bottom: 2rem;
}
.module-header p {
          margin-top: 2rem;
    color: #fff; /* light gray */
    font-size: 20px;
    font-weight: 350;
}
.module-title {
    font-size: 2.700rem; /* 3xl */
    font-weight: bold;
    color: #fff; /* white */

}

.module-description {
 
}

.module-steps {
    display: flex;
    justify-content: space-around;
    max-width: 64rem; /* 4xl */
    margin: 0 auto;
    padding: 2rem 0; /* p-8 */
    text-align: center;
}

.step {
    flex: 1;
   /*   max-width: 20rem; Adjust the max-width to fit your design */
    margin: 0 1rem;
    padding: 1rem;
    /*border: 1px solid #374151;  gray-700 */
    /* border-radius: 0.5rem; rounded-lg */
    background-color: black; /* gray-800 */
    color: #fff; /* white */
    justify-content: center;
}

.step-icon {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 1rem;
}

 .step-icon img {
    width: 4rem; /*Adjust the icon size as needed*/
    height: 4rem; 
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0.3rem;
} 

.step-title {
    font-size: 1.25rem; /* text-xl */
    font-weight: 600; /* font-semibold */
    color: #fff; /* white */
}

.step-description {
    margin-top: 0.5rem; /* mt-2 */
    color: #d1d5db; /* light gray */
}
@media (max-width: 768px) {
    .module-steps {
        flex-direction: column;
        align-items: center;
    }

    .step {
        max-width: 70%; /* Adjust the max-width to fit your design */
    }
}
</style>