<section class="our-team py-16 bg-gray-200">
    <div class="container mx-auto px-4">
        <h1 class="text-3xl font-bold text-center mb-12 text-black">Meet Our Team</h1>
        <div class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 gap-8">
            {% for member in data %}
                <div class="team-member bg-white rounded-lg shadow-lg overflow-hidden">
                    {% if member.image %}
                        <img src="{{ member.image.url }}" alt="{{ member.name }}" class="w-full h-[300px] object-cover"> <!-- Adjust the height value as needed -->
                    {% endif %}
                    <div class="p-6">
                        <h2 class="text-2xl font-semibold mb-2 text-black">{{ member.name }}</h2>
                        <p class="text-gray-700 mb-4">{{ member.job_title }}</p>
                        {% if member.social_media is not empty %}
                            <ul class="social-media flex space-x-4">
                                {% for social in member.social_media %}
                                    <a href="{{ social.url.url }}" class="text-blue-800 hover:text-gray-800">
                                        <img src="{{ social.platform.url }}" alt="{{ social.platform.alt }}" class="h-8 w-8 rounded-full"> <!-- Added rounded-full for circular icons -->
                                    </a>
                                {% endfor %}
                            </ul>
                        {% endif %}
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
</section>
