<header class="w-full sticky top-0 z-50 border-b border-gray-400">
    <div class="container p-4 mx-auto max-w-screen-xl flex items-center justify-between">
        <div class="flex-shrink-0">
            <a href="/" class="flex items-center w-full h-full">
                <img id="theme-logo" src="{{ data.header_logo.url }}" alt="{{ data.header_logo.alt | default('Logo') }}" loading="lazy" class="h-8 md:h-16 w-full md:w-[120px] {{ is_front_page() ? '' : 'logo' }}">
            </a>
        </div>

    <div class="absolute right-16 sm:right-56">
        {{ data.language_switcher|raw }}
    </div>

        <nav class="flex-grow hidden md:flex justify-center">
            <ul class="flex space-x-6">
                {% for page in data.header_pages %}
                    <li class="relative group">
                        <a href="{{ page.page_url.url }}" class="transition duration-200 flex items-center font-semibold">
                            {{ page.page_name }}
                            {% if page.sub_menu %}
                                <svg class="shigjeta w-4 h-4 ml-1 transition duration-200" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M19 9l-7 7-7-7"></path>
                                </svg>
                            {% endif %}
                        </a>
                        {% if page.sub_menu %}
                            <ul class="gallery-submenu absolute left-0 mb-3 hidden group-hover:block rounded-lg w-40 transition duration-200">
                                {% for sub_page in page.sub_menu %}
                                    <li>
                                        <a href="{{ sub_page.sub_page_url }}" class="block py-2 px-4 transition duration-200 rounded-lg">
                                            {{ sub_page.sub_page_name }}
                                        </a>
                                    </li>
                                {% endfor %}
                            </ul>
                        {% endif %}
                    </li>
                {% endfor %}
            </ul>


           <!-- Login/Logout button here, outside the loop -->
<div class="absolute right-0 mr-16">
    {% if data.is_logged_in %}
        <!-- Show logout button if the user is logged in -->
        <a href="{{ data.logout_url }}">Logout</a>
    {% else %}
        <!-- Show login button if the user is not logged in -->
        <a href="{{ data.login_url }}">Login</a>
    {% endif %}
</div>


        </nav>

        <div class="md:hidden flex items-center ml-auto">
            <button id="mobile-menu-button" class="focus:outline-none">
                <svg class="close w-6 h-6" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 6h16M4 12h16M4 18h16"></path>
                </svg>
            </button>
        </div>
    </div>

    <div id="mobile-menu" class="hidden mt-2 rounded-lg shadow-lg h-screen">
        <ul class="flex flex-col items-start">
            {% for page in data.header_pages %}
                <li class="border-b border-gray-700 w-full">
                    <div class="flex items-center justify-between w-full">
                        <a href="{{ page.page_url.url }}" class="block py-4 text-white hover:text-gray-300 transition duration-200 w-full text-left">
                            {{ page.page_name }}
                        </a>
                        {% if page.sub_menu %}
                            <button class="toggle-submenu">
                                <svg class="shigjeta-mobile w-4 h-4" fill="none" stroke="currentColor" viewBox="0 0 24 24">
                                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M19 9l-7 7-7-7"></path>
                                </svg>
                            </button>
                        {% endif %}
                    </div>

                    {% if page.sub_menu %}
                        <ul class="gallery-submenu pl-4 mt-2 hidden w-full">
                            {% for sub_page in page.sub_menu %}
                                <li class="border-b border-gray-700 last:border-none w-full">
                                    <a href="{{ sub_page.sub_page_url }}" class="block py-2 text-white hover:bg-gray-700 transition duration-200 w-full text-left">
                                        {{ sub_page.sub_page_name }}
                                    </a>
                                </li>
                            {% endfor %}
                        </ul>
                    {% endif %}
                </li>
            {% endfor %}
        </ul>
        <!-- Login/Logout button in mobile menu -->
        {% if data.is_logged_in %}
            <a href="{{ data.logout_url }}" class="block py-4 text-white transition duration-200 w-full text-left" id="loginout">Logout</a>
        {% else %}
            <a href="{{ data.login_url }}" class="block py-4 text-white transition duration-200 w-full text-left" id="loginout">Login</a>
        {% endif %}

    </div>
</header>
