{% if footer_section %}
    <footer class="bg-black py-6">
        <div class="container mx-auto flex flex-col lg:flex-row justify-between items-center space-y-6 lg:space-y-0">
            
            <!-- Logo -->
            {% if footer_section.0.logo %}
                <div class="footer-logo order-1 lg:order-1">
                    <img src="{{ footer_section.0.logo }}" alt="Logo" class="h-16">
                </div>
            {% endif %}

            <!-- Footer Links -->
            <div class="footer-links flex flex-col lg:flex-row space-y-2 lg:space-y-0 lg:space-x-6 order-2 lg:order-2">
                <a href="{{ footer_section.0.rent_page_link.url }}" class="text-white">Rent</a>
                <a href="{{ footer_section.0.share_page_link.url }}" class="text-white">Share</a>
                <a href="{{ footer_section.0.about_us_page_link.url }}" class="text-white">About Us</a>
                <a href="{{ footer_section.0.contact_page_link.url }}" class="text-white">Contact</a>
            </div>

            <!-- Social Media Links -->

  <div class="social-media-links flex space-x-4 order-3 lg:order-3">
       {% for social_link in footer_section.0.social_media_links %}
          {% if social_link.instagram_profile_link %}
              <a href="{{ social_link.instagram_profile_link.url }}" class="text-white">
                 <div class="relative w-8 h-8 rounded-full bg-gray-900 flex items-center justify-center">
                    <svg width="14" height="14" viewBox="0 0 14 14" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path fill-rule="evenodd" clip-rule="evenodd" d="M7.00061 0.600098C5.26245 0.600098 5.04432 0.607698 4.36165 0.638765C3.68031 0.669965 3.21523 0.777833 2.8083 0.936101C2.38736 1.09957 2.03029 1.31824 1.67455 1.67411C1.31855 2.02985 1.09988 2.38692 0.935876 2.80772C0.777208 3.21479 0.669207 3.68 0.63854 4.36107C0.608006 5.04374 0.600006 5.26201 0.600006 7.00016C0.600006 8.73831 0.60774 8.95578 0.638673 9.63846C0.670007 10.3198 0.777875 10.7849 0.93601 11.1918C1.09961 11.6127 1.31828 11.9698 1.67415 12.3256C2.02975 12.6816 2.38682 12.9008 2.8075 13.0642C3.2147 13.2225 3.6799 13.3304 4.36111 13.3616C5.04379 13.3926 5.26179 13.4002 6.99981 13.4002C8.73809 13.4002 8.95556 13.3926 9.63823 13.3616C10.3196 13.3304 10.7852 13.2225 11.1924 13.0642C11.6132 12.9008 11.9697 12.6816 12.3253 12.3256C12.6813 11.9698 12.9 11.6127 13.064 11.1919C13.2213 10.7849 13.3293 10.3197 13.3613 9.63859C13.392 8.95592 13.4 8.73831 13.4 7.00016C13.4 5.26201 13.392 5.04388 13.3613 4.3612C13.3293 3.67986 13.2213 3.21479 13.064 2.80785C12.9 2.38692 12.6813 2.02985 12.3253 1.67411C11.9693 1.31811 11.6133 1.09944 11.192 0.936101C10.784 0.777833 10.3186 0.669965 9.6373 0.638765C8.95463 0.607698 8.73729 0.600098 6.99861 0.600098H7.00061ZM6.42644 1.75343C6.59684 1.75316 6.78698 1.75343 7.00058 1.75343C8.7094 1.75343 8.91193 1.75956 9.58674 1.79023C10.2107 1.81876 10.5494 1.92303 10.775 2.01063C11.0737 2.12663 11.2866 2.2653 11.5105 2.4893C11.7345 2.7133 11.8732 2.92664 11.9894 3.22531C12.077 3.45064 12.1814 3.78931 12.2098 4.41332C12.2405 5.08799 12.2472 5.29066 12.2472 6.99868C12.2472 8.7067 12.2405 8.90937 12.2098 9.58404C12.1813 10.208 12.077 10.5467 11.9894 10.7721C11.8734 11.0707 11.7345 11.2834 11.5105 11.5073C11.2865 11.7313 11.0738 11.8699 10.775 11.9859C10.5497 12.0739 10.2107 12.1779 9.58674 12.2065C8.91207 12.2371 8.7094 12.2438 7.00058 12.2438C5.29163 12.2438 5.08909 12.2371 4.41442 12.2065C3.79041 12.1777 3.45174 12.0734 3.22601 11.9858C2.92734 11.8698 2.714 11.7311 2.49 11.5071C2.266 11.2831 2.12733 11.0703 2.01106 10.7715C1.92346 10.5462 1.81906 10.2075 1.79066 9.58351C1.75999 8.90883 1.75386 8.70616 1.75386 6.99708C1.75386 5.28799 1.75999 5.08639 1.79066 4.41172C1.81919 3.78771 1.92346 3.44904 2.01106 3.22344C2.12706 2.92477 2.266 2.71143 2.49 2.48743C2.714 2.26343 2.92734 2.12476 3.22601 2.00849C3.45161 1.92049 3.79041 1.81649 4.41442 1.78783C5.00482 1.76116 5.23363 1.75316 6.42644 1.75182V1.75343ZM10.4169 2.81611C9.99288 2.81611 9.64888 3.15971 9.64888 3.58385C9.64888 4.00785 9.99288 4.35185 10.4169 4.35185C10.8409 4.35185 11.1849 4.00785 11.1849 3.58385C11.1849 3.15984 10.8409 2.81611 10.4169 2.81611ZM7.00062 3.71345C5.18553 3.71345 3.71392 5.18506 3.71392 7.00015C3.71392 8.81523 5.18553 10.2862 7.00062 10.2862C8.8157 10.2862 10.2868 8.81523 10.2868 7.00015C10.2868 5.18506 8.8157 3.71345 7.00062 3.71345ZM7.00059 4.86679C8.17874 4.86679 9.13395 5.82187 9.13395 7.00015C9.13395 8.17829 8.17874 9.1335 7.00059 9.1335C5.82231 9.1335 4.86724 8.17829 4.86724 7.00015C4.86724 5.82187 5.82231 4.86679 7.00059 4.86679Z" fill="white"/>
                    </svg>
                </div>
            </a>
        {% endif %}
        {% if social_link.facebook_profile_link %}
            <a href="{{ social_link.facebook_profile_link.url }}" class="text-white">
                <div class="relative w-8 h-8 rounded-full bg-gray-900  flex items-center justify-center">
                     <svg width="14" height="14" viewBox="0 0 14 14" fill="none" xmlns="http://www.w3.org/2000/svg">
                     <path fill-rule="evenodd" clip-rule="evenodd" d="M13.4 6.99122C13.4 7.42404 13.3559 7.85626 13.2694 8.27757C13.185 8.68888 13.06 9.09268 12.8962 9.4787C12.7363 9.85789 12.5378 10.2233 12.3059 10.5641C12.0775 10.9027 11.8143 11.2204 11.5252 11.5099C11.2355 11.7983 10.9168 12.0607 10.5783 12.2901C10.2364 12.5204 9.8705 12.7186 9.49109 12.8793C9.10452 13.0422 8.69978 13.167 8.28883 13.2513C7.86696 13.338 7.43316 13.3823 6.99972 13.3823C6.56595 13.3823 6.13218 13.338 5.71091 13.2513C5.29933 13.167 4.89462 13.0422 4.50835 12.8793C4.12896 12.7186 3.76267 12.5204 3.42079 12.2901C3.08234 12.0607 2.76357 11.7983 2.47449 11.5099C2.18511 11.2204 1.92196 10.9027 1.6932 10.5641C1.46256 10.2233 1.26379 9.85787 1.10317 9.4787C0.939387 9.09268 0.814086 8.68886 0.729391 8.27757C0.643769 7.85626 0.600006 7.42404 0.600006 6.99122C0.600006 6.55808 0.643744 6.12494 0.729416 5.70455C0.814111 5.29324 0.939412 4.88881 1.10319 4.50342C1.26381 4.12396 1.46259 3.75823 1.69322 3.41744C1.92198 3.07854 2.18514 2.76147 2.47452 2.47155C2.7636 2.18319 3.08236 1.92139 3.42081 1.69234C3.7627 1.46108 4.12898 1.26295 4.50837 1.10191C4.89465 0.938663 5.29933 0.813543 5.71093 0.729921C6.1322 0.643797 6.56597 0.600098 6.99974 0.600098C7.43319 0.600098 7.86696 0.643797 8.28885 0.729921C8.6998 0.813568 9.10452 0.938688 9.49112 1.10191C9.8705 1.26292 10.2365 1.46108 10.5783 1.69234C10.9168 1.92139 11.2356 2.18319 11.5253 2.47155C11.8144 2.76147 12.0775 3.07854 12.3059 3.41744C12.5378 3.75823 12.7363 4.12398 12.8962 4.50342C13.06 4.88881 13.185 5.29324 13.2694 5.70455C13.3559 6.12494 13.4 6.55808 13.4 6.99122ZM4.6677 2.05463C3.14354 2.77334 2.00598 4.17575 1.65127 5.86591C1.79536 5.86716 4.07298 5.89587 6.69717 5.19963C5.75119 3.52133 4.74052 2.15171 4.6677 2.05463ZM7.15 6.04006C4.3358 6.88136 1.63534 6.82082 1.53847 6.81709C1.53689 6.87575 1.53408 6.93254 1.53408 6.99122C1.53408 8.39331 2.06379 9.67153 2.93447 10.638C2.93259 10.6352 4.42831 7.98545 7.37783 7.03304C7.44907 7.00933 7.52159 6.98809 7.59346 6.9675C7.45629 6.65733 7.30656 6.3465 7.15 6.04006ZM10.6093 2.89504C9.64701 2.04776 8.38353 1.53382 6.9997 1.53382C6.55561 1.53382 6.12464 1.5875 5.71182 1.68673C5.79368 1.79659 6.82031 3.15656 7.75504 4.8704C9.81735 4.09836 10.5958 2.915 10.6093 2.89504ZM7.96602 7.87187C7.95385 7.8759 7.94168 7.87937 7.92978 7.88373C4.70498 9.00632 3.65187 11.2687 3.64048 11.2934C4.56836 12.0139 5.73217 12.4486 6.99974 12.4486C7.75663 12.4486 8.4776 12.2947 9.13357 12.0161C9.05263 11.5393 8.73512 9.86784 7.96602 7.87187ZM10.0539 11.5174C11.2812 10.6905 12.1528 9.37729 12.3959 7.85624C12.2834 7.82004 10.7543 7.33664 8.99009 7.61908C9.707 9.58636 9.99829 11.1885 10.0539 11.5174ZM8.17573 5.68366C8.30259 5.94393 8.42543 6.20883 8.53886 6.47505C8.57919 6.57056 8.61857 6.66418 8.657 6.75779C10.5346 6.52185 12.3844 6.9188 12.4635 6.93501C12.451 5.64121 11.9875 4.45379 11.2206 3.52416C11.2103 3.5388 10.3337 4.80361 8.17573 5.68366Z" fill="white"/>
                     </svg>
                </div>
            </a>
        {% endif %}
        {% if social_link.twitter_profile_link %}
            <a href="{{ social_link.twitter_profile_link.url }}" class="text-white">
                <div class="relative w-8 h-8 rounded-full bg-gray-900  flex items-center justify-center">
                   <svg width="12" height="10" viewBox="0 0 12 10" fill="none" xmlns="http://www.w3.org/2000/svg">
                   <path fill-rule="evenodd" clip-rule="evenodd" d="M5.6406 2.7537L5.66578 3.16893L5.2461 3.11808C3.71843 2.92318 2.38383 2.26221 1.25067 1.15211L0.696681 0.6013L0.553988 1.00805C0.251813 1.91477 0.444869 2.87234 1.0744 3.51636C1.41015 3.87227 1.33461 3.92312 0.755438 3.71127C0.553988 3.64347 0.377719 3.59263 0.360931 3.61805C0.302175 3.67737 0.503625 4.44851 0.663106 4.75357C0.881344 5.17727 1.32621 5.5925 1.81305 5.83825L2.22434 6.03315L1.73751 6.04162C1.26746 6.04162 1.25067 6.0501 1.30103 6.22805C1.46891 6.77886 2.13201 7.36357 2.87066 7.61779L3.39108 7.79574L2.93781 8.06691C2.26631 8.45672 1.4773 8.67704 0.688288 8.69399C0.310569 8.70247 0 8.73636 0 8.76178C0 8.84652 1.02404 9.32107 1.61999 9.5075C3.40786 10.0583 5.53148 9.82104 7.1263 8.88042C8.25945 8.21097 9.39261 6.88055 9.92142 5.5925C10.2068 4.9061 10.4922 3.65195 10.4922 3.05029C10.4922 2.66049 10.5174 2.60964 10.9874 2.14357C11.2644 1.8724 11.5246 1.57581 11.575 1.49107C11.6589 1.33007 11.6505 1.33007 11.2224 1.47412C10.509 1.72834 10.4083 1.69445 10.7608 1.31312C11.021 1.04195 11.3316 0.550456 11.3316 0.406397C11.3316 0.380975 11.2057 0.423345 11.063 0.499612C10.9119 0.584352 10.5761 0.711462 10.3243 0.787728L9.87105 0.931787L9.45976 0.652144C9.23313 0.499612 8.91417 0.330131 8.74629 0.279287C8.31821 0.160651 7.6635 0.177599 7.27738 0.313183C6.22816 0.694514 5.56506 1.6775 5.6406 2.7537Z" fill="white"/>
                    </svg>
                </div>
            </a>
        {% endif %}
        {% if social_link.youtube_profile_link %}
            <a href="{{ social_link.youtube_profile_link.url }}" class="text-white">
                <div class="relative w-8 h-8 rounded-full bg-gray-900  flex items-center justify-center">
                    <svg width="14" height="10" viewBox="0 0 14 10" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path fill-rule="evenodd" clip-rule="evenodd" d="M12.0008 0.874762C12.5515 1.02589 12.9853 1.4712 13.1325 2.03671C13.4 3.06162 13.4 5.2001 13.4 5.2001C13.4 5.2001 13.4 7.3385 13.1325 8.36349C12.9853 8.92899 12.5515 9.3743 12.0008 9.52551C11.0027 9.8001 6.99998 9.8001 6.99998 9.8001C6.99998 9.8001 2.99728 9.8001 1.9991 9.52551C1.44834 9.3743 1.01459 8.92899 0.867394 8.36349C0.599976 7.3385 0.599976 5.2001 0.599976 5.2001C0.599976 5.2001 0.599976 3.06162 0.867394 2.03671C1.01459 1.4712 1.44834 1.02589 1.9991 0.874762C2.99728 0.600098 6.99998 0.600098 6.99998 0.600098C6.99998 0.600098 11.0027 0.600098 12.0008 0.874762ZM5.79999 3.40006V7.40006L8.99999 5.40013L5.79999 3.40006Z" fill="white"/>
                    </svg>
                </div>
            </a>
           {% endif %}
       {% endfor %}
     </div>

       
        </div>
    </footer>
{% endif %}
{{ wp_footer() }}
