<div>
    {% for module in modules %}
        {% if module.type == 'Banner' %}
            <div class="w-full bg-banner-class {{ module.type|lower }}-module">
                {{ renderModule(module, module.key) }}
            </div>
        {% elseif module.type == 'Gallery' %}
            <div class=" {{ module.type|lower }}-module">
                {{ renderModule(module, module.key) }}
            </div>
        {% else %}
            <div class="max-w-7xl w-full mx-auto px-4 md:px-6 2xl:px-0 mb-12">
                {{ renderModule(module, module.key) }}
            </div>
        {% endif %}
    {% endfor %}
</div>
