{% for car in cars %}
    {% if car.title_and_description %}
        <div class="car-title-description">
            {{ car.title_and_description|raw }}
        </div>
    {% endif %}

    {% if car.car_image %}
        <div class="car-image">
            <img src="{{ car.car_image.url }}" alt="{{ car.car_image.alt|e }}">
        </div>
    {% endif %}

    {% if car.car_features %}
        <div class="car-features">
            {% for feature in car.car_features %}
                <div class="car-feature-item">
                    {% if feature.icon %}
                        <img src="{{ feature.icon.url }}" alt="{{ feature.icon.alt|e }}">
                    {% endif %}
                    {% if feature.features %}
                        <p>{{ feature.features }}</p>
                    {% endif %}
                </div>
            {% endfor %}
        </div>
    {% endif %}
{% endfor %}
